body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fija la navbar en la parte superior */
    top: 0;
    left: 0; /* Asegura que empiece desde el borde izquierdo */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
}
.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
    color: rgb(255, 255, 255); /* Asegura que el texto siga siendo visible al hacer hover */
}

.navbar .dropdown-item:hover {
    color: rgb(13, 110, 253);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
/* Añadir margen superior al contenido para evitar que esté detrás de la navbar */
.content {
    margin-top: 60px; 
    padding: 20px; 
}
.bg-body-tertiary {
    background-color: rgb(0, 0, 0) !important; 
}
/* Contenedor para el checkbox y su etiqueta */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-label {
    font-size: 16px;
    margin-left: 8px; /* Espacio entre el checkbox y el texto */
    color: #333;
}

