/* Contenedor principal de usuarios */
.usuarios-container {
    width: 100vw; /* Ocupa el ancho completo de la ventana */
    margin-top: 80px; /* Separación desde la barra superior */
    height: calc(100vh - 210px); 
    box-sizing: border-box; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
}
form.barra-busqueda{
    margin-right: 5px;
}

.header-container {
    display: flex; 
    align-items: center; 
    margin: 0px 40px;
}

/* Contenedor de la tabla de usuarios con scroll */
.usuarios-table-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    flex-grow: 1; /* Hace que este contenedor ocupe el espacio restante */
    box-sizing: border-box; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

/* Botón de acción */
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    padding: 10px 15px; /* Añadimos un tamaño estándar para evitar alturas irregulares */
}

/* Hover del botón */
button:hover {
    background-color: #0056b3;
}

/* Contenedor del menu de filtros */
.filtros-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 0 20px; 
    padding: 5px 10px;
    background-color: transparent; 
    border: none; 
    border-radius: 0;
}

/* Menu desplegable */
.filtros-container select {
    padding: 8px; 
    font-size: 14px; 
    color: #555; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: white; 
    cursor: pointer;
    transition: border-color 0.3s;
}

/* Estilo al enfocar el select */
.filtros-container select:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4); 
}
