/* Contenedor principal de usuarios */
.usuarios-container {
    width: 100vw; /* Ocupa el ancho completo de la ventana */
    margin-top: 90px; /* Separación desde la barra superior */
    height: calc(100vh - 100px); 
    box-sizing: border-box; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
}

/* Contenedor de la tabla de usuarios con scroll */
.usuarios-table-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    flex-grow: 1; /* Hace que este contenedor ocupe el espacio restante */
    box-sizing: border-box; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

/* Botón de acción */
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    padding: 10px 15px; /* Añadimos un tamaño estándar para evitar alturas irregulares */
}

/* Hover del botón */
button:hover {
    background-color: #0056b3;
}

/* Estilo del título */
h2 {
    margin: 0 0 10px; 
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
    text-align: left; 
    color: black;
}
