/* Contenedor principal de usuarios */
.usuarios-container {
    width: 100vw;
    margin-top: 90px;
    height: calc(100vh - 150px); 
    box-sizing: border-box; 
}

/* Contenedor de la tabla de usuarios con scroll */
.usuarios-table-container {
    width: 100%; 
    padding: 0;
    box-sizing: border-box; 
    overflow-x: auto; 
    overflow-y: auto; 
     height: calc(100vh - 210px);
}

/* Botón de acción */
button {
    height: center;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Hover del botón */
button:hover {
    background-color: #0056b3;
}

/* Estilo del título */
h2 {
    margin-top: 20px;
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
    text-align: left; 
    color: black;
}
