.checkbox-container {
  display: flex;
  align-items: center;     
}

.checkbox-vehiculo {
  width: 15px;
  margin-bottom: 25px;      
}

.estado {
  font-size: 16px;
  color: #333;
  padding-left: 9px;
}
