body {
    padding-top: 80px;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar-custom {
    background-color: #0d6efd; 
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}


.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #e9ecef; 
    margin-right: 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #000000; 
}


.form-control {
    background-color: #ffffff; 
    color: #fff;
    border: 1px solid #444;
    border-radius: 0.25rem;
    width: 350px;
}


.btn-outline-light {
    border: 1px solid #fff;
    color: #000000;
    background-color: #83f973;
}

.btn-outline-light:hover {
    border: 1px solid #000000;
    color: #000000;
    background-color: #65ff50;

}
